body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


#googleMap {
    width: 1000px;
    height: 900px;
}


/* цвет фона и рамки навигационного меню */
.navbar-default {
    background-color: #35478C;
    border-color: #3D4252;
}
    /* цвет текста, содержащий название сайта или бренда */
    .navbar-default .navbar-brand {
        color: #FFFFFF;
        font-size: 28px;
    }
        /* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #666F89;
            font-size: 28px;
        }
    /* Цвет пунктов навигационного меню */
    .navbar-default .navbar-nav > li > a {
        color: #FFFFFF;
        font-size: 20px;
    }
        /* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #CACBD5;
        }
    /* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #FFFFFF;
        background-color: #666F89;
    }
    /* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #FFFFFF;
        background-color: #666F89;
    }
    /* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */
    .navbar-default .navbar-nav > .dropdown > a .caret {
        border-top-color: #FFFFFF;
        border-bottom-color: #FFFFFF;
    }
    /* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */
    .navbar-default .navbar-nav > .dropdown > a:hover .caret,
    .navbar-default .navbar-nav > .dropdown > a:focus .caret {
        border-top-color: #FFFFFF;
        border-bottom-color: #FFFFFF;
    }
    /* Цвет стрелочки (треугольничка), открывшегося пункта меню */
    .navbar-default .navbar-nav > .open > a .caret,
    .navbar-default .navbar-nav > .open > a:hover .caret,
    .navbar-default .navbar-nav > .open > a:focus .caret {
        border-top-color: #FFFFFF;
        border-bottom-color: #FFFFFF;
    }
    /* CSS стили для мобильных устройств */
    /* Цвет рамки у кнопки, которая открывает меню */
    .navbar-default .navbar-toggle {
        border-color: #666F89;
    }
        /* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #666F89;
        }
        /* Цвет полосочек в кнопочке, которая открывает меню */
        .navbar-default .navbar-toggle .icon-bar {
            background-color: #666F89;
        }
/* Цвет пунктов меню в раскрывающихся списках */
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #666F89;
    }
        /* Цвет и фон пункта меню в раскрывающихся списках, при поднесении к нему курсора мышки или при нахождении его в фокусе */
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #666F89;
            background-color: #666F89;
        }
}

.form-control {
    font-size: 16px;
}

