@{
    ViewData["Title"] = "Overall Rating Page";
    Layout = "_Server";
}

<div style="position:absolute; top:1250px; left:20px; width:1200px; height:500px;  outline: 1px solid #000;">
    <div style="margin: 5%;">
        <h4>Оценка водителя: Иванов Михаил Семенович (id:12)</h4>
        <h4>ТС : SCANIA P380</h4>
        <table id="reportTableFlight" class="table" name="ReportTableFuel" width="400" border="1">
            <thead>
                <tr>
                    <th>
                        <em>ТС</em>
                    </th>
                    <th colspan="2">
                        <em>Оценка стиля вождения</em>
                    </th>
                    <th colspan="2">
                        <em>Пробег (км)</em>
                    </th>
                    <th colspan="2">
                        <em>Средний расход дизтоплива (л / 100 км)</em>
                    </th>
                    <th colspan="2">
                        <em>Средний расход газа (л / 100 км)</em>
                    </th>
                    <th colspan="2">
                        <em>Общий расход дизтоплива (л)</em>
                    </th>
                    <th colspan="2">
                        <em>Общий расход газа (л)</em>
                    </th>
                    <th colspan="2">
                        <em>Тонно-Километр (т*км)</em>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        Средняя вел. для ТС
                    </th>
                    <th>
                        6,3
                    </th>
                    <th>
                        <font color="red">&darr;</font>
                    </th>
                    <th>
                        13677,1
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                    <th>
                        26,7
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                    <th>
                        12,0
                    </th>
                    <th>
                        <font color="red">&darr;</font>
                    </th>
                    <th>
                        4670,7
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                    <th>
                        1480,1
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                    <th>
                        369,781
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                </tr>
                <tr>
                    <th>
                        Средняя вел. для парка
                    </th>
                    <th>
                        7,1
                    </th>
                    <th>
                        <font color="red">&darr;</font>
                    </th>
                    <th>
                        11422,4
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                    <th>
                        25,8
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                    <th>
                        13,5
                    </th>
                    <th>
                        <font color="red">&darr;</font>
                    </th>
                    <th>
                        3583,5
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                    <th>
                        1356,6
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                    <th>
                        305,782
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                </tr>
                <tr>
                    <th>
                       Средняя вел. для АСМ
                    </th>
                    <th>
                        8,2
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                    <th>
                        10644,2
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                    <th>
                        28,8
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                    <th>
                        14,8
                    </th>
                    <th>
                        <font color="red">&darr;</font>
                    </th>
                    <th>
                        2910,7
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                    <th>
                        1218,9
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                    <th>
                        239,781
                    </th>
                    <th>
                        <font color="green">&uarr;</font>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        Q
    </div>
</div>

